* {
    margin: 0;
    padding: 0;

}
body{
    height: 100%;
    width: auto;
    background-image: url("./Images/arcademachine.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 45%; 
    /* margin: 0.8em; */
    color: white;
    font-family: "Jersey 10", sans-serif;
}



.title{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 5px;
    animation: pulse 0.6s infinite alternate;
}
@keyframes pulse {
  from {
    text-shadow: 0 0 4px #ef7676, 0 0 10px #ef7676;
  }
  to {text-shadow: 0 0 15px #ef7676, 0 0 25px #ef7676;
  }
}
.rpsImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: pulse 0.6s infinite alternate;
}



.screenText{
    display: grid;
    text-align:center;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.7em;
    font-size: 1.5em;
    letter-spacing: 4px;
}
#pResult{
    grid-column: 1;
}
#cResult{
    grid-column: 2;
}
#rResult{
    grid-column: 1 / 3; /* centers between both */
    margin-top: 2em;
    animation: flicker 1s 4 forwards;
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.result-Pop {
  animation: popIn 0.4s ease-out;
}
@keyframes popIn {
  0% { transform: scale(0.4); opacity: 0; }
  60% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}
#resetBtn{
  background: none;
  border: none;
  float: right;
  padding-right: 18em;
  margin-top: 7.5em;

}



.screenBtn{
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-top: 14.8em;
}
.screenBtn button{
    font-size: 2em;
    text-align: center;
    border: 6px solid  #ef7676;
    border-radius: 50%;
    background-color: #ef767690;
    padding: 15px;
    cursor: pointer;
    font-family: "Jersey 10", sans-serif;
    letter-spacing: 2px;
}
.screenBtn button:hover{
  background-color: #ec5f5f;
}
.screenBtn button:active {
    transform: translateY(5px);
    box-shadow: 5px 5px 5px 2px #f1675b;
}


/* ---RESPONSIVE MQ's--- */
/* @media (min-width:1024px)(max-width;{
.title{
  font-size: 4em;
  margin-top: 4em;
}
.rpsImg{}

} */


@media (min-width:768px) and (max-width:1024px){
  .title{
    font-size: 3em;
    margin-top:3.5em;
  }
  .rpsImg{
    width: 160px;
    margin-top: 0;
  }
  .screenText{
    font-size: 0.8em;
    margin-top: 2em;
  }
  #resetBtn{
    margin-top: 2em;
    padding-right: 8.5em;
  }

  .screenBtn{
    gap: 115px;
    margin-top: 14.3em;
  }
}

